/* frontend/src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa no mínimo 100% da altura da tela */
}

.main-content {
  flex: 1; /* Faz o conteúdo principal esticar e empurrar o rodapé para baixo */
  padding: 2rem; /* Espaço nas laterais e em cima/baixo */
}

/* Um estilo temporário só para testarmos a etapa 2 */
.teste-titulo {
  color: var(--primary-color);
  text-align: center;
  margin-top: 50px;
}